.el-input__inner {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  color: #2d8cf0;
  display: block;
  height: 45px;
  line-height: 45px;
  box-shadow: 0 0 0 0 inset;
}
.el-input {
  --el-input-focus-border-color: #101010;
}
.el-aside {
  height: 100vh;
  background-color: #324157;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.el-menu {
  height: 90%;
  border-right: 0 !important;
}
.el-header {
  background-color: #242f42;
}
.el-main {
  padding: 0;
  background-color: #e5e5e5;
}
.el-breadcrumb {
  line-height: 35px;
  padding-left: 10px;
}
.el-card__body {
  padding: 0;
}
.el-image-viewer__mask {
  background: #fff;
}
